//*** colors///
$primary-color: #504343;
$secondary-color: #a3248e;
$text-color: #eeee;

//****font
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//* paths
$main-bgImg-path: "../../img/model-1.jpg";
